In [1]:
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow as tf

In [3]:
data_df = pd.read_excel('FoodAccessResearchAtlasData2019.xlsx')
data_df.head()

,CensusTract,State,County,Urban,Pop2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
0,1001020100,Alabama,Autauga County,1,1912,693,0,0.0,0.000000,0,...,221.0,1622.0,217.0,14.0,0.0,14.0,45.0,44.0,6.0,102.0
1,1001020200,Alabama,Autauga County,1,2170,743,0,181.0,8.341014,1,...,214.0,888.0,1217.0,5.0,0.0,5.0,55.0,75.0,89.0,156.0
2,1001020300,Alabama,Autauga County,1,3373,1256,0,0.0,0.000000,0,...,439.0,2576.0,647.0,17.0,5.0,11.0,117.0,87.0,99.0,172.0
3,1001020400,Alabama,Autauga County,1,4386,1722,0,0.0,0.000000,0,...,904.0,4086.0,193.0,18.0,4.0,11.0,74.0,85.0,21.0,98.0
4,1001020500,Alabama,Autauga County,1,10766,4082,0,181.0,1.681219,0,...,1126.0,8666.0,1437.0,296.0,9.0,48.0,310.0,355.0,230.0,339.0

In [4]:
mn_df = data_df[data_df['State'] == 'Minnesota']
mn_df

,CensusTract,State,County,Urban,Pop2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
35210,27001790502,Minnesota,Aitkin County,0,3262,1494,0,7.0,0.214592,0,...,1032.0,3188.0,10.0,8.0,1.0,19.0,36.0,13.0,52.0,83.0
35211,27001770200,Minnesota,Aitkin County,0,2336,995,0,11.0,0.470890,1,...,467.0,2231.0,18.0,2.0,0.0,37.0,48.0,26.0,33.0,184.0
35212,27001790501,Minnesota,Aitkin County,0,1957,916,0,11.0,0.562085,1,...,613.0,1913.0,4.0,1.0,1.0,19.0,19.0,14.0,38.0,58.0
35213,27001770100,Minnesota,Aitkin County,0,2327,1080,0,5.0,0.214869,1,...,668.0,2255.0,3.0,4.0,1.0,45.0,19.0,16.0,44.0,62.0
35214,27001770400,Minnesota,Aitkin County,0,3052,1424,0,0.0,0.000000,1,...,803.0,2758.0,3.0,5.0,0.0,233.0,53.0,36.0,88.0,184.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36539,27171100702,Minnesota,Wright County,1,8207,2916,0,48.0,0.584867,0,...,557.0,7703.0,71.0,91.0,3.0,47.0,292.0,299.0,150.0,286.0
36540,27173970300,Minnesota,Yellow Medicine County,0,2517,1044,0,49.0,1.946762,0,...,467.0,2452.0,2.0,5.0,0.0,11.0,47.0,64.0,30.0,67.0
36541,27173970200,Minnesota,Yellow Medicine County,0,2520,1075,0,122.0,4.841270,0,...,641.0,2479.0,6.0,7.0,0.0,1.0,27.0,44.0,63.0,105.0
36542,27173970400,Minnesota,Yellow Medicine County,0,2030,794,0,1.0,0.049261,1,...,297.0,1920.0,1.0,6.0,5.0,31.0,67.0,170.0,30.0,58.0
36543,27173970100,Minnesota,Yellow Medicine County,0,3371,1379,0,118.0,3.500445,0,...,626.0,2955.0,7.0,15.0,1.0,271.0,122.0,119.0,87.0,136.0

In [38]:
grouped_df = mn_df[["County", "Urban", "Pop2010", "OHU2010",
                            "GroupQuartersFlag", "NUMGQTRS", "PCTGQTRS", "HUNVFlag", "LowIncomeTracts", 
                            "PovertyRate", "MedianFamilyIncome", "TractLOWI", "TractKids", "TractSeniors", 
                            "TractWhite", "TractBlack", "TractAsian", "TractNHOPI", "TractAIAN", 
                            "TractOMultir", "TractHispanic", "TractHUNV", "TractSNAP", "LAhalfand10"]]
grouped_df.head()

,County,Urban,Pop2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,HUNVFlag,LowIncomeTracts,PovertyRate,...,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP,LAhalfand10
35210,Aitkin County,0,3262,1494,0,7.0,0.214592,0,1,7.623169,...,3188.0,10.0,8.0,1.0,19.0,36.0,13.0,52.0,83.0,0
35211,Aitkin County,0,2336,995,0,11.0,0.470890,0,1,11.283691,...,2231.0,18.0,2.0,0.0,37.0,48.0,26.0,33.0,184.0,1
35212,Aitkin County,0,1957,916,0,11.0,0.562085,0,1,11.358811,...,1913.0,4.0,1.0,1.0,19.0,19.0,14.0,38.0,58.0,1
35213,Aitkin County,0,2327,1080,0,5.0,0.214869,0,1,12.527473,...,2255.0,3.0,4.0,1.0,45.0,19.0,16.0,44.0,62.0,1
35214,Aitkin County,0,3052,1424,0,0.0,0.000000,0,1,15.459098,...,2758.0,3.0,5.0,0.0,233.0,53.0,36.0,88.0,184.0,1

## explain things

In [39]:
grouped_df.isnull().sum()

County                0
Urban                 0
Pop2010               0
OHU2010               0
GroupQuartersFlag     0
NUMGQTRS              0
PCTGQTRS              0
HUNVFlag              0
LowIncomeTracts       0
PovertyRate           0
MedianFamilyIncome    8
TractLOWI             0
TractKids             0
TractSeniors          0
TractWhite            0
TractBlack            0
TractAsian            0
TractNHOPI            0
TractAIAN             0
TractOMultir          0
TractHispanic         0
TractHUNV             0
TractSNAP             0
LAhalfand10           0
dtype: int64

In [40]:
grouped_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1334 entries, 35210 to 36543
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   County              1334 non-null   object
 1   Urban               1334 non-null   int64
 2   Pop2010             1334 non-null   int64
 3   OHU2010             1334 non-null   int64
 4   GroupQuartersFlag   1334 non-null   int64
 5   NUMGQTRS            1334 non-null   float64
 6   PCTGQTRS            1334 non-null   float64
 7   HUNVFlag            1334 non-null   int64
 8   LowIncomeTracts     1334 non-null   int64
 9   PovertyRate         1334 non-null   float64
 10  MedianFamilyIncome  1326 non-null   float64
 11  TractLOWI           1334 non-null   float64
 12  TractKids           1334 non-null   float64
 13  TractSeniors        1334 non-null   float64
 14  TractWhite          1334 non-null   float64
 15  TractBlack          1334 non-null   float64
 16  TractAsian          1334 non-null   float64
 17  TractNHOPI          1334 non-null   float64
 18  TractAIAN           1334 non-null   float64
 19  TractOMultir        1334 non-null   float64
 20  TractHispanic       1334 non-null   float64
 21  TractHUNV           1334 non-null   float64
 22  TractSNAP           1334 non-null   float64
 23  LAhalfand10         1334 non-null   int64
dtypes: float64(16), int64(7), object(1)
memory usage: 260.5+ KB

In [41]:
grouped_df.loc[(grouped_df["MedianFamilyIncome"].isnull()), ["County", "MedianFamilyIncome"]]

                  County  MedianFamilyIncome
35842    Hennepin County                 NaN
35867    Hennepin County                 NaN
35880    Hennepin County                 NaN
35883    Hennepin County                 NaN
35884    Hennepin County                 NaN
36117      Ramsey County                 NaN
36458  Washington County                 NaN
36459  Washington County                 NaN

In [42]:
median = grouped_df.loc[grouped_df["County"] == "Hennepin County"]["MedianFamilyIncome"].median()
median

95140.5

In [43]:
grouped_df.loc[(grouped_df["MedianFamilyIncome"].isnull()) & (grouped_df["County"] == "Hennepin County"), "MedianFamilyIncome"] = median

In [44]:
grouped_df.loc[(grouped_df["MedianFamilyIncome"].isnull()) | (grouped_df["County"] == "Hennepin County"), ["County", "MedianFamilyIncome"]]

                  County  MedianFamilyIncome
35586    Hennepin County            157891.0
35587    Hennepin County            165500.0
35588    Hennepin County            135417.0
35589    Hennepin County            196845.0
35590    Hennepin County             94792.0
...                  ...                 ...
35883    Hennepin County             95140.5
35884    Hennepin County             95140.5
36117      Ramsey County                 NaN
36458  Washington County                 NaN
36459  Washington County                 NaN

[302 rows x 2 columns]

In [45]:
median2 = grouped_df.loc[grouped_df["County"] == "Washington County"]["MedianFamilyIncome"].median()
median2

106858.0

In [46]:
grouped_df.loc[(grouped_df["MedianFamilyIncome"].isnull()) & (grouped_df["County"] == "Washington County"), "MedianFamilyIncome"] = median2

In [47]:
median3 = grouped_df.loc[grouped_df["County"] == "Ramsey County"]["MedianFamilyIncome"].median()
median3

76914.0

In [48]:
grouped_df.loc[(grouped_df["MedianFamilyIncome"].isnull()) & (grouped_df["County"] == "Ramsey County"), "MedianFamilyIncome"] = median3

In [49]:
grouped_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1334 entries, 35210 to 36543
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   County              1334 non-null   object
 1   Urban               1334 non-null   int64
 2   Pop2010             1334 non-null   int64
 3   OHU2010             1334 non-null   int64
 4   GroupQuartersFlag   1334 non-null   int64
 5   NUMGQTRS            1334 non-null   float64
 6   PCTGQTRS            1334 non-null   float64
 7   HUNVFlag            1334 non-null   int64
 8   LowIncomeTracts     1334 non-null   int64
 9   PovertyRate         1334 non-null   float64
 10  MedianFamilyIncome  1334 non-null   float64
 11  TractLOWI           1334 non-null   float64
 12  TractKids           1334 non-null   float64
 13  TractSeniors        1334 non-null   float64
 14  TractWhite          1334 non-null   float64
 15  TractBlack          1334 non-null   float64
 16  TractAsian          1334 non-null   float64
 17  TractNHOPI          1334 non-null   float64
 18  TractAIAN           1334 non-null   float64
 19  TractOMultir        1334 non-null   float64
 20  TractHispanic       1334 non-null   float64
 21  TractHUNV           1334 non-null   float64
 22  TractSNAP           1334 non-null   float64
 23  LAhalfand10         1334 non-null   int64
dtypes: float64(16), int64(7), object(1)
memory usage: 260.5+ KB

In [50]:
print(grouped_df.dtypes)

County                 object
Urban                   int64
Pop2010                 int64
OHU2010                 int64
GroupQuartersFlag       int64
NUMGQTRS              float64
PCTGQTRS              float64
HUNVFlag                int64
LowIncomeTracts         int64
PovertyRate           float64
MedianFamilyIncome    float64
TractLOWI             float64
TractKids             float64
TractSeniors          float64
TractWhite            float64
TractBlack            float64
TractAsian            float64
TractNHOPI            float64
TractAIAN             float64
TractOMultir          float64
TractHispanic         float64
TractHUNV             float64
TractSNAP             float64
LAhalfand10             int64
dtype: object

In [52]:
grouped_df.nunique()

County                  87
Urban                    2
Pop2010               1190
OHU2010                989
GroupQuartersFlag        2
NUMGQTRS               278
PCTGQTRS              1088
HUNVFlag                 2
LowIncomeTracts          2
PovertyRate           1328
MedianFamilyIncome    1269
TractLOWI              963
TractKids              887
TractSeniors           702
TractWhite            1161
TractBlack             503
TractAsian             424
TractNHOPI              20
TractAIAN              167
TractOMultir           429
TractHispanic          446
TractHUNV              336
TractSNAP              378
LAhalfand10              2
dtype: int64

In [54]:
# Convert categorical data to numeric with `pd.get_dummies`  ***

grouped_df.drop(columns=["County"], inplace=True)
dummies_df = pd.get_dummies(grouped_df)
dummies_df

C:\Users\Micha\AppData\Local\Temp\ipykernel_19248\3822044187.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  grouped_df.drop(columns=["County"], inplace=True)

,Urban,Pop2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,HUNVFlag,LowIncomeTracts,PovertyRate,MedianFamilyIncome,...,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP,LAhalfand10
35210,0,3262,1494,0,7.0,0.214592,0,1,7.623169,63287.0,...,3188.0,10.0,8.0,1.0,19.0,36.0,13.0,52.0,83.0,0
35211,0,2336,995,0,11.0,0.470890,0,1,11.283691,63073.0,...,2231.0,18.0,2.0,0.0,37.0,48.0,26.0,33.0,184.0,1
35212,0,1957,916,0,11.0,0.562085,0,1,11.358811,54821.0,...,1913.0,4.0,1.0,1.0,19.0,19.0,14.0,38.0,58.0,1
35213,0,2327,1080,0,5.0,0.214869,0,1,12.527473,57813.0,...,2255.0,3.0,4.0,1.0,45.0,19.0,16.0,44.0,62.0,1
35214,0,3052,1424,0,0.0,0.000000,0,1,15.459098,53309.0,...,2758.0,3.0,5.0,0.0,233.0,53.0,36.0,88.0,184.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36539,1,8207,2916,0,48.0,0.584867,1,0,10.240964,80273.0,...,7703.0,71.0,91.0,3.0,47.0,292.0,299.0,150.0,286.0,1
36540,0,2517,1044,0,49.0,1.946762,0,0,8.866583,72917.0,...,2452.0,2.0,5.0,0.0,11.0,47.0,64.0,30.0,67.0,1
36541,0,2520,1075,0,122.0,4.841270,0,0,11.030741,70066.0,...,2479.0,6.0,7.0,0.0,1.0,27.0,44.0,63.0,105.0,0
36542,0,2030,794,0,1.0,0.049261,0,1,12.297893,64483.0,...,1920.0,1.0,6.0,5.0,31.0,67.0,170.0,30.0,58.0,1
36543,0,3371,1379,0,118.0,3.500445,0,0,19.607843,70722.0,...,2955.0,7.0,15.0,1.0,271.0,122.0,119.0,87.0,136.0,0

In [55]:
# Split our preprocessed data into our features and target arrays 
y = dummies_df.LAhalfand10.values
X = dummies_df.drop(columns="LAhalfand10").values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [56]:
# Create a StandardScaler instances ****
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

### When the model was first created, compiled

In [59]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  300
hidden_nodes_layer2 = 100
hidden_nodes_layer3 = 50

nn = tf.keras.models.Sequential()

# First hidden layer
#nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu", input_dim=number_input_features))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_11 (Dense)            (None, 100)               2300

 dense_12 (Dense)            (None, 100)               10100

 dense_13 (Dense)            (None, 1)                 101

=================================================================
Total params: 12501 (48.83 KB)
Trainable params: 12501 (48.83 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [60]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [61]:
dummies_df["LAhalfand10"].value_counts() #dataset is imbalanced, usually 0 should be higher than 1

1    940
0    394
Name: LAhalfand10, dtype: int64

In [66]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=10)

Epoch 1/10
32/32 [==============================] - 0s 5ms/step - loss: 0.2602 - accuracy: 0.8630
Epoch 2/10
32/32 [==============================] - 0s 5ms/step - loss: 0.2587 - accuracy: 0.8730
Epoch 3/10
32/32 [==============================] - 0s 5ms/step - loss: 0.2546 - accuracy: 0.8660
Epoch 4/10
32/32 [==============================] - 0s 5ms/step - loss: 0.2498 - accuracy: 0.8760
Epoch 5/10
32/32 [==============================] - 0s 4ms/step - loss: 0.2451 - accuracy: 0.8800
Epoch 6/10
32/32 [==============================] - 0s 4ms/step - loss: 0.2411 - accuracy: 0.8730
Epoch 7/10
32/32 [==============================] - 0s 4ms/step - loss: 0.2447 - accuracy: 0.8810
Epoch 8/10
32/32 [==============================] - 0s 3ms/step - loss: 0.2392 - accuracy: 0.8780
Epoch 9/10
32/32 [==============================] - 0s 5ms/step - loss: 0.2381 - accuracy: 0.8850
Epoch 10/10
32/32 [==============================] - 0s 4ms/step - loss: 0.2309 - accuracy: 0.8850

In [67]:
type(fit_model)

keras.src.callbacks.History

In [68]:
fit_model.history  #plot loss function

{'loss': [0.26017341017723083,
  0.2586610019207001,
  0.25455331802368164,
  0.24976035952568054,
  0.24512439966201782,
  0.24109448492527008,
  0.24468296766281128,
  0.23921558260917664,
  0.23814234137535095,
  0.23087076842784882],
 'accuracy': [0.8629999756813049,
  0.8730000257492065,
  0.8659999966621399,
  0.8759999871253967,
  0.8799999952316284,
  0.8730000257492065,
  0.8809999823570251,
  0.878000020980835,
  0.8849999904632568,
  0.8849999904632568]}

In [69]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

11/11 - 0s - loss: 0.3306 - accuracy: 0.8563 - 57ms/epoch - 5ms/step
Loss: 0.3305925726890564, Accuracy: 0.85628741979599

In [30]:
grouped_df.columns.tolist()

['County',
 'Urban',
 'Pop2010',
 'OHU2010',
 'GroupQuartersFlag',
 'NUMGQTRS',
 'PCTGQTRS',
 'HUNVFlag',
 'LowIncomeTracts',
 'PovertyRate',
 'MedianFamilyIncome',
 'TractLOWI',
 'TractKids',
 'TractSeniors',
 'TractWhite',
 'TractBlack',
 'TractAsian',
 'TractNHOPI',
 'TractAIAN',
 'TractOMultir',
 'TractHispanic',
 'TractHUNV',
 'TractSNAP',
 'LAhalfand10']